html {
    font-family: "Roboto-Black";
}
h1::after {
    content: "  :конец!";
    color: green;

}
h1::before {
    content: "Hачало!:        ";
    color: red;
}
/* li:first-child {
    color: red;
}
li:last-child {
    color: green;
} */
/* li:nth-child(even) {
    color: green;
}
li:nth-child(odd) {
    color: red;
} */
article:not(.text) {
    color: red;

}
article {
    margin: 25px;
}
@font-face {
    font-family: "Roboto-Black";
    src: url("Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}